* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

body {
    background-color: white;
    width: 1800px;
}

h1, h2 {
    font-size: 35px;
    height: 60px;
    text-align: center;
    text-decoration: underline;
}

.german {
    height: 250px;
    width: 400px;
    padding: 0px;
    background-color: white;
    box-shadow: 2.5px 2.5px 5px 5px lightgray;
}

.hungarian {
    position: absolute;
    top: 60px;
    left: 700px;
    height: 250px;
    width: 400px;
    opacity: 0;
}


.hungarian:hover {
    opacity: 1;
    transition: ease 0.3s;
}

.french {
    height: 250px;
    width: 400px;
    padding: 0px;
    background-color: white;
    box-shadow: 2.5px 2.5px 5px 5px lightgray;   
}

.irish {
    position: absolute;
    top: 395px;
    left: 700px;
    height: 250px;
    width: 400px;
    opacity: 0;
}

.irish:hover {
    opacity: 1;
    transition: ease 0.3s;
}