.heading {
  height: 8vh;
  background-color: #878787;
  padding: 0 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.heading .button {
  font-size: 20px;
}

.opening {
  height: 1200px;
  width: 100%;
  background-image: url(./images/computer.png.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.opening .about {
  opacity: 0;
}
.opening .about #circle {
  position: absolute;
  color: #000000;
  top: 181px;
  left: 924px;
  font-size: 775px;
}
.opening .about #about-me {
  position: absolute;
  top: 360px;
  left: 1110px;
  color: #fafafa;
  font-size: 80px;
  font-weight: bold;
  width: 500px;
  height: auto;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.opening .about #me {
  position: absolute;
  top: 470px;
  left: 1055px;
  color: #fafafa;
  font-size: 40px;
  width: 500px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}
.opening .about:hover {
  opacity: 1;
  color: #000000;
  border-radius: 1000px;
  padding: 0;
  margin: 0;
  transition: opacity 1s ease;
}
.opening .header {
  position: absolute;
  width: 600px;
  top: 440px;
  left: 1020px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 65px;
  text-align: center;
  font-weight: 800;
}
.opening .sub {
  position: absolute;
  width: 600px;
  top: 500px;
  left: 1050px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 65px;
}
.opening .scroll-down {
  position: absolute;
  bottom: 0;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 30px;
}
.opening .scroll-down .arrow {
  color: #fafafa;
  font-size: 50px;
  width: 100%;
}
.opening .scroll-down .arrow:hover {
  color: #878787;
}

.main {
  background-color: #000000;
  min-height: 100vh;
  font-size: 30px;
  color: #000000;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main .cards {
  display: flex;
  width: 400px;
  height: 500px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  background-color: #fafafa;
  box-shadow: 2px 2px 2px 2px #cfcfcf;
}
.main .cards #hidden {
  position: absolute;
  opacity: 0;
}
.main .cards #shown {
  opacity: 1;
}
.main .cards:hover {
  background-color: #cfcfcf;
}
.main .cards:hover #hidden {
  opacity: 1;
}
.main .cards:hover #shown {
  opacity: 0;
}