.opening {
  background-color: #000000;
}
.opening .circles {
  width: 100%;
}

.header {
  text-align: center;
  font-size: 65px;
  position: absolute;
  top: 500px;
  left: 1160px;
}
.header .arrow {
  position: absolute;
  text-align: center;
  color: red;
  top: 1000px;
}

.main {
  background-color: #000000;
  min-height: 1500px;
  color: #fafafa;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 1200px;
}